<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>SF Transit</title>
    <link rel="icon" href="assets/images/favicon.png">
    <style>
        .load-wrap {
            background-color: coral;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            animation-duration: 350ms;
            animation-timing-function: ease-in;
            box-shadow: 10px 0 5px rgba(0, 0, 0, .5);
        }

        .load-icon {
            width: 25vw;
            height: 25vh;
            background: url('assets/images/train.svg') no-repeat center;
            background-size: contain;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .7));
        }

        .load-text, .load-emoji {
            font-family: Helvetica, serif;
            text-transform: uppercase;
            font-size: calc(5vw);
            padding: 20px;
            opacity: .6;
        }

        .animated {
            animation-duration: 1s;
            animation-fill-mode: both
        }

        @keyframes slideOut {
            to {
                transform: translateX(-100%);
            }
        }

        .slideOut {
            animation-name: slideOut;
        }

        @keyframes zoomIn {
            0% {
                opacity: 0;
                transform: scale3d(.3, .3, .3)
            }

            50% {
                opacity: 1
            }
        }

        .zoomIn {
            animation-name: zoomIn
        }

        @keyframes pulse {
            0% {
                transform: scaleX(1)
            }

            50% {
                transform: scale3d(1.05, 1.05, 1.05)
            }

            to {
                transform: scaleX(1)
            }
        }

        .pulse {
            animation-name: pulse;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }
    </style>
</head>
<body>
    <ids-transit></ids-transit>
    <div class='load-wrap'>
        <div class='load-text'>SF Transit</div>
        <div class='load-icon animated zoomIn'></div>
        <div class='load-emoji'>&#x1F6B4; &#x1F695; &#x1F68C; &#x1F682; &#x2708;</div>
    </div>
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        var loadWrap = document.querySelector('.load-wrap'),
            icon = document.querySelector('.load-icon'),
            root = document.querySelector('ids-transit');
        icon.addEventListener('animationend', function handler () {
            setTimeout(() => {
                var readyWatcher = setInterval(() => {
                    if (root && root.$) {
                        loadWrap.addEventListener('animationend', function handler () {
                            loadWrap.removeEventListener('animationend', handler);
                            loadWrap.parentNode.removeChild(loadWrap)
                        });
                        loadWrap.classList.add('slideOut');
                        clearInterval(readyWatcher);
                    }
                }, 500);

                icon.removeEventListener('animationend', handler);
                icon.classList.remove('zoomIn');
                icon.classList.add('pulse');
            }, 1000);
        });
    </script>

    <script type="text/javascript" src='./webcomponents-loader.js'></script>
    <% if (htmlWebpackPlugin.options.shim) { %>
    <script type="text/javascript" src='./custom-elements-es5-adapter.js'></script>
    <% } %>
</body>
</html>
